<ion-view title="Organizers" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="organizers-list1">
      <ion-item class="item-icon-left item-icon-right" id="organizers-list-item5" ui-sref="tabsController.events({ organizer: 'IT and Data Analysis Studies' })">
        <i class="icon ion-android-laptop"></i>IT and Data Analysis Studies
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="organizers-list-item12" ui-sref="tabsController.events({ organizer: 'Art and Performance Studies' })">
        <i class="icon ion-paintbrush"></i>Art and Performance Studies
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="organizers-list-item13" ui-sref="tabsController.events({ organizer: 'Culture and History Studies' })">
        <i class="icon ion-ios-book"></i>Culture and History Studies
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="organizers-list-item14" ui-sref="tabsController.events({ organizer: 'Government and International Studies' })">
        <i class="icon ion-android-globe"></i>Government and International Studies
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
