<ion-view title="Event Detail" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="register-card22">
      <div style="margin: 0px; background-color: rgb(232, 235, 239); text-align: center;">
        <img ng-src="{{ event.imageURL }}" style="width:100%; height: auto" />
      </div>
      <h2 id="register-heading2" style="color:#000000;">{{ event.eventName }}</h2>
      <div id="register-markdown7" class="show-list-numbers-and-dots">
        <p style="color:#000000;">{{ event.fullDesc }}</p>
      </div>
      <div id="register-button-bar2" class="button-bar">
        <button ng-if="event.isRegistered" id="register-button7" style="border-radius:10px 10px 10px 10px;" class="button button-energized button-block">Register</button>
        <a ui-sref="tabsController.map({ venueName: event.venue })" id="register-button8" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-block">Address</a>
      </div>
    </div>
  </ion-content>
</ion-view>
