<ion-view title="Register" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="register-card22">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <h2 id="register-heading2" style="color:#000000;">Singing Contest</h2>
      <div id="register-markdown7" class="show-list-numbers-and-dots">
        <p style="color:#000000;">detail detail detail detail detail detail detail detail detail detail detail detail detail detail detail </p>
      </div>
      <div id="register-button-bar2" class="button-bar">
        <button id="register-button7" style="border-radius:10px 10px 10px 10px;" class="button button-energized button-block">Register</button>
        <a ui-sref="tabsController.map()" id="register-button8" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-block">Address</a>
      </div>
    </div>
  </ion-content>
</ion-view>